<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <link href="styles.css" rel="stylesheet">
    <title>Llama Player</title>
    <script type="module" src="renderer.js"></script>
</head>
<body>
<div class="top-panel">
    <div class="left-top">
        <p id="music-tab"></p>
        <button id="button">Dodaj piosenki</button>
    </div>
    <div class="right">
        <ul id="song-display">

        </ul>
    </div>
</div>
<div class="bottom-panel">
    <div class="playback-controls">
        <button id="previous">Previous</button>
        <button id="pause">Pause</button>
        <button id="play">Play</button>
        <button id="stop">Stop</button>
        <button id="next">Next</button>
    </div>
    <div class="progress-indicator-container">
        <input id="progress-indicator" type="range" min="1" max="100" value="50">
    </div>
</div>
</body>
</html>
